{% load i18n i18n_urls %}
<form action="{% url 'set_language' %}" method="post" class="{{ form_class }}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
    <select name="language" onchange="this.form.next.value=this.options[this.selectedIndex].dataset.next; this.form.submit();" aria-label="{% trans 'Langue' %}" class="{{ select_class }}">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            {% translate_current_url language.code as lang_url %}
            <option value="{{ language.code }}" data-next="{{ lang_url }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.code|upper }}
            </option>
        {% endfor %}
    </select>
</form>
